* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e0adad;
  width: 100%;
  display: flex;
  height: 60px;
}

.logo {
  display: flex;
  justify-content: space-evenly;
}
.logo img {
  width: 110px;
  height: 25px;
  margin-left: 80px;
  margin-top: 2px;
  padding: 0;
}
.subjects {
    display: flex;
    justify-content: space-evenly;
    
    width: 500px;
    margin-left: 0px;
  margin: 0px;
  padding: 5px 5px;
  font-size: 14px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.subjects div:hover{
    border-bottom: 3px solid black;
}
.sidesubjects {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin-right:  90px;
  padding: 5px 5px;
}


.sidesubjects span {
  font-size: 14px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.section2 img{
    width: 100%;
    height: 450px;
}
.section3{
    width: 100%;
    align-items: center;
}
