* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  display: flex;
  height: 60px;
}

.logo {
  display: flex;
  justify-content: space-evenly;
}
.logo img {
  width: 110px;
  height: 25px;
  margin-left: 80px;
  margin-top: 2px;
  padding: 0;
}
.subjects {
    display: flex;
    justify-content: space-evenly;
    
    width: 500px;
    margin-left: 0px;
  margin: 0px;
  padding: 5px 5px;
  font-size: 14px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.subjects div:hover{
    border-bottom: 3px solid black;
}
.sidesubjects {
  display: flex;
  justify-content: space-evenly;
  width: 400px;
  margin-right:  90px;
  padding: 5px 5px;
}


.sidesubjects span {
  font-size: 14px;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
.section2{
  position: relative;
}
.section2 img{
    width: 100%;
    height: 450px;
   
}
.section2-image{
  position: absolute;
  top: 130px;
  margin-left: 55em;
}
.section2-image h1{
  font-size: 2.3rem;
  margin-bottom: 1.25;
  font-weight: 600;
}
.section2-image p{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  width: 90%;
}
.section2-image div{
  width: 22%;
  background-color: #0067b8;
  padding: 10px;
  color: white;
  font-weight: 500;
}

.section3{
    width: 100%;
    display: flex;
    margin-top: 18px;
    justify-content: center;
}

.pause{
    margin-right: 25px;
    width: 1.5%;
    height: 1.5%;
}
.pause:hover{
    width: 2%;
    height: 2%;
   
}
.full-stop1{
    margin-top: -17px;
    width: 4%;
    height: 4%;
}
.full-stop2{
    margin-top: -6px;
    width: 2.5%;
    height: 2.5%;
}
.section3 i{
    margin: 0px 15px;
}
.section3 i:hover{
    padding-right: 24px;
    padding-left:8px;
}
.section3 i:hover:after{
    opacity: 1;
    right: 10px;
  }
  .choose-operating{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 50px;
padding: 0px 316px;
  }
  .content{
    display: flex;
    flex-direction: column;
    width: 210px;
    align-items: center;
    padding: 5px -15px;
    margin: 5px 5px ;
  }
  .content img{
    width: 40px;
    margin-bottom: 10px;
    
  }
 .content a{
    font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1rem;
    color: #0067b8;
    font-weight: 500;
 }
.series{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-right: 5%;
  padding-left: 5%;
}
.series div{
  align-items: center;
  padding: 10px;
}
.series div img{
  width: 320px;
}
.series div h1{
  font-size: 1.8125rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.series div p,a{
  font-family: "Segoe UI",SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 1rem;
  text-decoration: none;
}
.series div a{
  font-weight: 570;
  color: #0067b8;
}
.series div a span{
  font-size: 20px;
  font-weight: 700;
  width: 10px;
}
.img{
  width: 100%;
  position: relative;
}
.sec-image{
  position: absolute;
  top: 225gitpx;
  margin-left: 7em;
}
.sec-image h1{
  width: 70%;
  color: white;
  font-size: 2.3rem;
  margin-bottom: 1.25;
  font-weight: 600;
}
.sec-image p{
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  width: 50%;
  color: white;
}
.sec-image div{
  width: 21%;
  background-color: #0067b8;
  padding: 10px;
  color: white;
  font-weight: 500;
}
.poster .img img{
  width: 92%;
  padding-top: 5%;
  margin: 30px 60px 75px 57px;
}

.section5 .head{
  margin-left: 60px;
  font-size: 2rem;
  font-weight: 500;
}
.section6{
  display: flex;
  margin-left: 40px;
}
.section6 div{
  padding: 20px;
}
.section6 div i{
  cursor: pointer;
}
.space{
  ma
}
footer{
  width: 100%;
  height: 387px;
  background-color: #f2eded;
}
.space{
  padding: 30px 20px 30px 30px ;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.back-to-top{
  width: 10%;
  font-weight: 500;
  background-color: #ead5d5;
  display: flex;
  padding: 8px;
  border: 1.5px solid;  
  border: none;
}
.back-to-top i{
    margin-right: 10px;
}
.all-about{
  display: flex;
  justify-content: space-between;
  margin: 15px 120px;
 
}
.row{
  color:#616161;
}
.row .head{
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  padding-top: 36px;
}
.row ul{
  list-style: none;
}
.list li {
  padding: 2px 2px;
}
.list a{
  padding: 0px;
  font-size: 11px;
  line-height: 16px;
  text-decoration: none;
  color:#616161;
}
.list a:hover{
  border-bottom: 1px solid black;
  color: black;
}
.row {
font-size: 20px;
}
.last-line{
  display: flex;
  margin-left: 60px;
  margin-top: 40px;
}
.first-icon{
  display: flex;
}
.second-icon{
  display: flex;
  margin-left: 30px;
  color: #616161;
}
.privacy{
  font-size: 12px;
  margin-left: 10px;
  margin-top: 2px;
  color: #616161;
}
.english{
  margin-left: 10px;
  margin-top: 2px;
  font-size: 12px;
  color: #616161;
}
.sideline-footer{
  width: 75%;
 
  display: flex;
  justify-content: flex-end;
  font-size: 10px;
  color: #616161;
}
.sideline-footer div{
  margin-left: 20px;
  margin-right: 20px;
}
